body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
/*-------------------------------------------------------------------*/
/*---------------------------header----------------------------------*/
.header {
  background-color: #0c3e57;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}
.logo {
  font-size: 24px;
  font-weight: bold;
  color: white;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
  padding: 12px;
  margin: 8px;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
/*---------------------------section1----------------------------------*/

img {
  height: auto;
  width: 400px;
}
.card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 24px;
  width: 400px;
  height: auto;
}
h2 {
  font-size: 48px;
}
button {
  height: 48px;
  width: 96px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: blue;
  border: 1px solid royalblue;
}
/*---------------------------------------------------------------------*/
.section2 {
  background-color: chocolate;
  display: flex;
  flex-direction: column;
}
.elements {
  display: flex;
  justify-content: space-around;

  gap: 32px;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 250px;
}
.element-img {
  height: 200px;
  width: 200px;
}
/*---------------------------------------------------------------------*/
.section3 {
  background-color: green;
}
.section4 {
  background-color: blueviolet;
}
