body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: #ffecd1;
}
p {
  font-size: 22px;
}
/*-------------------------------------------------------------------*/
/*---------------------------header----------------------------------*/
.header {
  background-color: #0b2f40;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 12px;
}
.logo {
  color: #ff7d00;
  font-size: 24px;
  font-weight: 700;
}
.icon {
  height: 48px;
  width: auto;
  font-size: 48px;
  color: #ffecd1;
}
ul {
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffecd1;
  padding: 24px;
  margin: 8px;
  font-size: 24px;
  font-weight: 700;
}
a:hover {
  background-color: #ff7d00;
}
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px;
}
/*---------------------------section1----------------------------------*/
.section1 {
  background-color: inherit;
  background-color: #0b2f40;
  font-size: 18px;
  color: white;
}

img {
  height: auto;
  width: 600px;
}
.card {
  padding: 24px;
  width: 400px;
  height: auto;
}
h2 {
  font-size: 48px;
}
button {
  height: 56px;
  width: 156px;
  padding: 8px 16px;
  border-radius: 8px;
  background-color: #0094c6;
  color: white;
  border: 1px solid royalblue;
  font-size: 18px;
  font-weight: bold;
}
button:hover {
  background-color: #ff7d00;
}
/*---------------------------------------------------------------------*/
.section2 {
  background-color: inherit;
  display: flex;
  flex-direction: column;
}
.elements {
  display: flex;
  justify-content: space-around;
  gap: 32px;
}
.element {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
  width: 250px;
}
.element-img {
  border: 2px solid #0b2f40;
  height: 200px;
  width: 200px;
}
/*---------------------------------------------------------------------*/
.section3 {
  background-color: #f2d9b5;
  /*background-color: #e5e7eb;*/
  flex-direction: column;
}
.quote {
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}
.quote-autor {
  font-weight: bold;
  font-size: 24px;
  align-self: end;
  padding: 0;
}
/*----------------------------------------------------------------*/
.section4 {
  background-color: inherit;
}
.call-to-action {
  background-color: #0094c6;
  height: 100px;
  width: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 8px;
  color: white;
  /* border: 1px solid white;*/
}
.ctobutton {
  border: 1px solid #f2d9b5;
}
/*----------------------------------------------------------------*/
.footer {
  display: flex;
  justify-content: center;
  background-color: #0b2f40;
  align-items: center;
  color: white;
  font-size: 18px;
  font-weight: 400;
}
